.nav {
    grid-area: n;
    background-color: rgb(204 255 204);
    border-top-right-radius: 10px;
  }
.item{
  height: 30px;
  padding: 10px;
  padding-top: 14px;
  color:rgb(51 102 51);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  text-decoration: none;
}
.item a{text-decoration:line-through;}
.item:hover{
  background-color: rgb(102 153 102)
}
.item:active{}