.dialog {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 1fr;
    height: 60px;
    background-color: rgb(204 255 204);
    border-radius: 10px;
    margin: 5px ;

}
.dialog:hover{
    background-color: rgb(102 153 102);
}
.dialog img{
    align-self: flex-start;
    width:40px;
    object-fit: cover;
    border-radius: 30px;
    margin: 10px 10px 0px 10px;
}
.name{
   margin: 0 10px 0 0;
   text-decoration: dotted;
   color: black;
}
